/*General definitions*/
html, body {
    margin: 0;
    height:	auto !important;
	background: -webkit-linear-gradient(#b3c6ff,white,white,#b3c6ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b3c6ff,white,white,#b3c6ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b3c6ff,white,white,#b3c6ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#b3c6ff,white,white,#b3c6ff); /* Standard syntax */
}

#mainBody
{
	margin: 0 auto;
	border: 1px solid rgba(50,50,50,0.1);
	width: 85%;
	padding: 10px;
	height: auto !important;
	box-shadow: -3px 0px 5px 0px rgba(50,50,50,0.1), 3px 0px 5px 0px rgba(50,50,50,0.1);
	-webkit-box-shadow: -3px 0 5px 0 rgba(50, 50, 50, 0.10),3px 0 5px 0 rgba(50, 50, 50, 0.10);
	-moz-box-shadow: -3px 0 5px 0 rgba(50, 50, 50, 0.10),3px 0 5px 0 rgba(50, 50, 50, 0.10);
}

#content
{
    height: auto !important;
    margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 5%;
}

#content h2
{
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}

#content p
{
	width: 50%;
}

#welc_div
{
	border-bottom: 1px solid grey;
}

#welc_div p
{
	width:40%;
}

#products_show
{
	margin: auto;
	display: flex;
	width: 95%;
}

#products_show .product_show
{
	flex: 1;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 4px;
	margin-top: 3%;
	margin-left: 2%;	
	width: 30%;
	background-color: #b3c6ff;
	cursor: pointer;
}

#products_show .product_show:active
{
	cursor: grabbing;
}

.prod_desc
{
	margin: 5px;
	float: right;
	width:50%;
}

.text_button
{
	border:none;
	border-left: 1px solid grey;
	background-color: Transparent;
	cursor: pointer;
	font-size: 14px;
}

.text_button:active
{
	cursor: grabbing;
}

.text_button:hover {
    position:relative;
    color: grey;
}

.B_img
{
	width: 15px;
	height: 15px;
}

.img
{
	min-width:300px;
	width: 30%;
	margin: 0;
	display: inline-block;
}

.pimg
{
	min-width:200px;
	width: 20%;
	margin: 0;
	display: inline-block;
}

.prod_img
{
	width:100px;
	height: 90px;
	margin: 0;
	display: inline-block;
	padding:10px;
}


/*End of General Definitions.*/

/*Header Definitions*/
#header
{
	width: 100%;
	padding-bottom: 16px;
}

#headerRight
{
	float: right;
	width: 50%;
}

#headerRight .hr_div
{
	width: 100%;
	display: block;
	clear: right;
}

.hr_div #h_but
{
	float:right;
}

#h_but
{
	margin-bottom: 15px;
}

.searchbar {
	float: right;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #b3c6ff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
	background-image: url("../images/search.png");
	background-size: 25px 25px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchbar:focus {
    width: 100%;
}

/*End of Header Definitions*/

/*Footer definitions*/
.ft_copyright div
{
	display: inline-block;
}

.ft_copyright
{
	background-color: #b3c6ff;
	border-radius: 4px;
	font-size: 15px;
	padding: 10px;
}

.ft_copyright div:nth-child(2)
{
	float: right;
}
/*End of footer definitions*/

/*Form Page*/

#r_form
{
	width:60%;
	margin: auto;
	background-color: #b3c6ff;
	border: 1px solid grey;
	padding: 10px;
	border-radius:4px;
}

#r_form input
{
	width: 60%;
	border-radius: 10px;
	padding: 5px;
}

#r_form #lastin
{
	cursor:pointer;
	margin: auto;
	background-color: #426680;
}

#r_form #lastin:active
{
	cursor: grabbing;
}

#r_form #lastin:hover {
    position:relative;
    background-color: #b3c6ff;
}
/*End of form page*/

/*Product Page*/
.products
{
	width:60%;
	margin: auto;
	border: 1px solid grey;
	border-radius: 4px;
	background-color: #b3c6ff;
	padding: 10px;
	overflow: auto;
	margin-bottom: 2%;
	cursor: pointer;
}

.products2
{
	width:60%;
	margin: auto;
	border: 1px solid grey;
	border-radius: 4px;
	background-color: #b3c6ff;
	padding: 10px;
	overflow: auto;
}

.products:active
{
	cursor: grabbing;
}

.products img
{
	border: 1px solid grey;
	display: inline-block;
}

.prod_description
{
	float:right;
	width: 45%;
}

.basket_button
{
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid grey;
	padding-top:5px;
	padding-bottom:5px;
	cursor: pointer;
	border-radius: 4px;
	background-color: #426680;
}

.basket_button:active
{
	cursor: grabbing;
}

.basket_button:hover {
    position:relative;
    background-color: #b3c6ff;
}

.basket_button2
{
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid grey;
	padding-top:5px;
	padding-bottom:5px;
	cursor: pointer;
	border-radius: 4px;
	background-color: #426680;
}

.basket_button2:active
{
	cursor: grabbing;
}

.basket_button2:hover {
    position:relative;
    background-color: #b3c6ff;
}

/*End of Product Page*/

/*Style for Footerbar Elements*/

.footerBar
{
	display:inline-block;
	width:100%;
	margin: auto;	
	list-style-type: none;
	padding:0px;
	margin-top:10px;
	margin-bottom:10px;
}

.footerBar li
{
	display: inline-block;
	padding-left:30px;
	padding-right: 30px;
	margin: 0px;
	border-right: 1px solid grey;
	padding-top:5px;
	padding-bottom:5px;
	cursor: pointer;
}

.footerBar li:last-child
{
	border: 0px;
}

.footerBar li:active
{
	cursor: grabbing;
}

.footerBar li:hover {
    position:relative;
    background-color: #b3c6ff;
}

/*End of Styling for Footerbar Elements*/

/*Style for Menubar elements*/

.menubar
{
	display:inline-block;
	width:100%;
	margin-top: 0; 	
	list-style-type: none;
	padding:0px;
}

.menubar .m_item
{
	border-radius: 4px;
	display: inline-block;
	width:15%;
	text-align: center;
	margin-right: 5%;
	border: 1px solid grey;
	padding-top:10px;
	padding-bottom:10px;
	cursor: pointer;
}

.menubar .m_item:first-child
{
	margin-left: 2%;
}

.menubar .m_item:last-child
{
	margin-right: 0;
}

.menubar .m_item:active
{
	cursor: grabbing;
}

.menubar .m_item:hover {
    position:relative;
    background-color: #b3c6ff;
}

/*End of menubar styling*/
.submenu
{
    margin: 0;
	margin-top: 10px;
    padding: 0;
    list-style: none;
	width: 100%;
}

.submenu .s_item
{
    display: block;
    position: relative;
    float: left;
}

.m_item .submenu
{
	display: none;
}

.submenu .s_item
{
    display: block;
    text-decoration: none;
    border-top: 1px solid #b3c6ff;
    padding-top:10px;
	padding-bottom:10px;
}

.submenu .s_item:hover 
{
    background: #617F8A;
}

.m_item:hover .submenu 
{
    display: block;
    position: absolute;
	background: white;
	border-radius:4px;
	border: 1px solid #b3c6ff;
}

.m_item:hover .s_item
{
    float: none;
}

.s_item:hover
{
    background: #b3c6ff;
}

.m_item:hover .s_item:hover 
{
    background: #b3c6ff
}

.liClicked {
    background-color: #b3c6ff;
}

#bskt_cont
{
	background: -webkit-linear-gradient(#b3c6ff,white,white,#b3c6ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b3c6ff,white,white,#b3c6ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b3c6ff,white,white,#b3c6ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#b3c6ff,white,white,#b3c6ff); /* Standard syntax */
	width: 80%;
	padding: 3%;
	border-radius: 4px;
	margin: auto;
	border: 1px solid grey;
}

#bskt_sum
{
	border-top: 1px solid grey;
}

.emb_btn
{
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid grey;
	padding-top:5px;
	padding-bottom:5px;
	cursor: pointer;
	border-radius: 4px;
	background-color: #426680;
}

.emb_btn:active
{
	cursor: grabbing;
}

.emb_btn:hover {
    position:relative;
    background-color: #b3c6ff;
}

#googleMap 
{
    width: 50%;
    height: 400px;
    background-color: grey;
}

.not_impl
{
	cursor:pointer;
}

.not_impl:active
{
	cursor:grabbing;
}

#h_img
{
	cursor:pointer;
}

#h_img:active
{
	cursor:grabbing;
}