<h2>If you need to contact us please use one of the following methods:</h2>
<br>
<b>Email:</b> 40110403@live.napier.ac.uk
<br><br>
<b>Phone:</b> 0123456789
<br><br>
Or you can find us at:
<div id="googleMap"></div>

<script>
function myMap() {
var myCenter = new google.maps.LatLng(55.9036801, -3.1692801);
var mapProp= {
    center:myCenter,
    zoom:13,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position: myCenter});

marker.setMap(map); 
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpjAv8yxru9gRnvwajz6nvQ6LpB9pzoi8&callback=myMap"></script>
