<div id="footer">

<div class="ft_copyright">
<div>Copyright © 2018 Flowers On Wheels</div> 
<div class="not_impl">Follow us on Social Media</div>
</div>

<div class="ft_links">
<ul class="footerBar">
  <li onclick="">Contact us
  <li onclick="">About us
  <li onclick="">Terms and Conditions
  <li onclick="">Privacy Policy
  <li onclick="">Delivery Guarantee
  <li onclick="">Delivery Information
</ul>
</div>

</div>