<head>
	<meta charset = "UTF-8">
	<title>Flowers on Wheels</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/footer.js"></script>
	<script type="text/javascript" src="js/menubar.js"></script>
	<script type="text/javascript" src="js/headbar.js"></script>
	<script type="text/javascript" src="js/form.js"></script>
	<script type="text/javascript" src="js/products.js"></script>
	<script type="text/javascript" src="js/basket.js"></script>
</head>