<div id="welc_div">
<h1>Welcome to Flowers on Wheels!</h1>
<p>We hope you enjoy shopping with us! <br><br>
Our goal is to make your day brighter with a bouquet of flowers,
search our website for all our special occasion bouquet's and keep an eye out for our Special offers this October.
</p>
</div>
<div id="products_show">

<div class="product_show">
<img class='prod_img' src='images/ProductExample.jpg' alt='Rose Bouquet'>
<div class="prod_desc"><b>Rose Bouquet</b><br><br>Price: <i>DOS</i><br><br>Available for delivery.</div>
</div>
<div class="product_show">
<img class='prod_img' src='images/ProductExample2.jpg' alt='Flower Bouquet'>
<div class="prod_desc"><b>Summer Bouquet</b><br><br>Price: <i>DOS</i><br><br>Available for delivery.</div>
</div>
<div class="product_show">
<img class='prod_img' src='images/ProductExample3.jpg' alt='Flower Bouquet Two'>
<div class="prod_desc"><b>Winter Bouquet</b><br><br>Price: <i>DOS</i><br><br>Available for delivery.</div>
</div>
</div>