<form id="r_form" action="log_in.php" method="POST">
<h3>Welcome to our log in page!<br>
Please fill in your credentials below:</h3>
<br><br>
  ID Number:<br>
  <input type="number" name="id" value="" placeholder="..." autofocus required>
  <br>
  Password:<br>
  <input id="p_in" type="password" name="pwd" value="" placeholder="..." required>
  <br>
  <br><br>
  <input type="submit" id="lastin" value="Log in">
</form>