<form id="r_form" action="register.php" method="POST">
<h3>Welcome to our Flower delivery Page!<br>
Please Enter your details below:</h3>
<br><br>
  First name:<br>
  <input type="text" name="fname" value="" pattern ="[A-Za-z]+" title="Only letters" placeholder="..." autofocus required>
  <br>
  Last name:<br>
  <input type="text" name="sname" value="" pattern ="[A-Za-z]+" title="Only letters" placeholder="..." required>
  <br>
  Email:<br>
  <input id="em_in" type="email" name="email" value="" placeholder="..." required>
  <br>
  Phone:<br>
  <input type="number" name="phone" value="" placeholder="...">
  <br>
  Address:<br>
  <input type="text" name="address" value="" placeholder="..." required>
  <br>
  Password:<br>
  <input id="p_in" type="password" name="password" pattern ="[A-Za-z\d@!#$%]{4,20}" title="The password must include: Capital and Lowercase letters with at least one number and special character." value="" placeholder="..." required>
  <br>
  Confirm Password:<br>
  <input id="p2_in" type="password" name="c_password" pattern ="[A-Za-z\d@!#$%]{4,20}" title="The password must include: Capital and Lowercase letters with at least one number and special character." value="" placeholder="..." required>
  <div id="cp_span"></div>
  <br>
  <br><br>
  <input type="submit" id="lastin" value="Register">
</form> 